<!-- Nav bar menu items starts-->
<nav class="navbar-inverse" aria-label="Primary" role="navigation">

  <!-- Piece above searchbar -->
  <div class="clearfix">
    <div class="navbar-header nav-container">

      <!-- Logo -->
      <a class="navbar-brand" ng-if="::!portal.logo" href="?id={{::portal.homepage_dv}}" aria-label="{{::portal.title}}"><span>{{::portal.title}}</span></a>
	    <a class="navbar-brand navbar-brand-logo"
           ng-if="::portal.logo" href="?id={{::portal.homepage_dv}}"
           aria-label="{{::portal.title}}${ - Home Page}"
           data-toggle="tooltip"
           data-placement="bottom"
           data-title="{{::portal.title}}${ - Home}">
        <img ng-src="{{::portal.logo}}" alt="{{::portal.title}}${ - Home Page}"/>
      </a>

      <!-- Mobile Navigation View -->
      <div ng-if="showMobileMenuOnDesktop || mobileDevice">
        <!-- Toggle Button (Hamburger Menu for Mobile View) -->
        <button type="button" 
                class="sub-navbar-overflow-entry-button"
                ng-class="isMobileViewOnDesktopExpanded ? 'close-icon-visible' : ''"
                aria-label="{{isMobileViewOnDesktopExpanded ? '${Hide menu primary navigation}' : '${Show menu primary navigation}'}}" 
                data-toggle="tooltip"
                data-placement="auto bottom" 
                data-original-title="{{isMobileViewOnDesktopExpanded ? '${Hide Menu}' : '${Show Menu}'}}"
                ng-click="toggleMobileMenuVisibility($event)">
          <div ng-if="!isMobileViewOnDesktopExpanded">
             <span class="label label-as-badge label-primary">{{data.todoCount + data.requestCount + cartItemCount}}</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
          </div>
          <i class="fa fa-close" ng-if="isMobileViewOnDesktopExpanded"></i>
        </button>

        <div class="mobile-view-on-desktop"
             ng-class="mobileDevice && showSearchBar ? 'search-visible' : ''"
             ng-if="isMobileViewOnDesktopExpanded"
             role="presentation">
           
            <div class="height-adjust">
               <ul class="mobile-view-navbar">
                 <!-- Mega Menu & Login functionality (Mobile View) -->
                 <li class="mobile-mega-menu-entry"  ng-if="user.logged_in">
                   <div>
                   	<sp-widget widget="data.sub.menu"></sp-widget>
                   </div>
                 </li>
                 <li>
                   <ul class="main-header-items" ng-if="user.logged_in && !showMobileMegaMenu" role="menu">
                     <li class="main-header-item" ng-if="data.showMoreItems" ng-repeat="item in data.moreItems" role="menuitem">
                       <a ng-if="item.label !== item.shortLabel"
                          href="{{item.href}}"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          data-original-title="${{{item.label}}}"
                          aria-label="${{{item.label}}}">
                          <span ng-bind-html="'${' + item.shortLabel + '}'" aria-hidden="true"></span>
                       </a>
                       <a ng-if="item.label === item.shortLabel"
                          href="{{item.href}}"
                          aria-label="${{{item.label}}}">
                          <span ng-bind-html="'${' + item.shortLabel + '}'" aria-hidden="true"></span>
                       </a>
                     </li>
                     <!-- Cart, tours, and Wishlist (Mobile View) -->
                     <li role="menuitem">
                        <sp-widget widget="data.top.menu" id="menu_item"></sp-widget>
                     </li>
                   </ul>
                 </li>
                 <!--li class="separator" ng-if="!showMobileMegaMenu"></li-->
                 
                 <!-- User Profile -->
                 <li class="m-t-sm m-b-sm m-l-sm" ng-if="(!showMobileMegaMenu && user.logged_in)">
                    <a ng-href="?id={{::data.supportProfilePortal}}" ng-class="getClass(data.link)" aria-label="{{user.name}} ${profile}">
                      <span class="navbar-avatar"><sn-avatar class="avatar-small-medium" show-presence="false" primary="avatarProfile" /></span>
                      <span>{{user.name}}</span>
                    </a>
                 </li>
                 
                 <!-- Logout -->
                 <li class="m-t-sm m-b-sm m-l-sm" ng-if="user.logged_in && !showMobileMegaMenu">
                   		<ul class="nav navbar-nav">
                         <li class="visible-xs-block"><a href="{{::portal.logoutUrl}}">${Logout}</a></li>
                      </ul>
                 </li>
                 
                 <!-- Login -->
                 <li class="m-t-sm m-b-sm m-l-sm" ng-if="!showMobileMegaMenu">
                    <ul ng-if="::(!user.logged_in && page.id != portal.login_page_dv && !data.hasLogin)" class="nav navbar-nav">
                       <li><a href ng-click="::openLogin()">${Login}</a></li>
                    </ul>
                 </li>
               </ul>
          </div>
        </div>
      </div>

      <!-- Header Navbar -->
      <div ng-if="!(showMobileMenuOnDesktop || mobileDevice)" class="navbar-right">
        <div class="height-adjust">
          <ul class="nav navbar-nav" role="menubar" aria-orientation="horizontal">
            <li class="hidden-xs sp-loading-indicator la-sm" ng-class="{'invisible': !loadingIndicator}">
               <div></div>
               <div></div>
               <div></div>
            </li>
            
            <li class="gt-menu-item" id="more-items" role="presentation" ng-if="data.showMoreItems">
              <a ng-if="(data.moreItems.length === 1) && (data.moreItems[0].label !== data.moreItems[0].shortLabel)"
                 href="{{data.moreItems[0].href}}"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 data-original-title="${{{data.moreItems[0].label}}}"
                 aria-label="${{{data.moreItems[0].label}}}"
                 role="menuitem">
                <span ng-bind-html="'${' + data.moreItemsTitle + '}'" aria-hidden="true"></span>
              </a>
              <a ng-if="(data.moreItems.length === 1) && (data.moreItems[0].label === data.moreItems[0].shortLabel)"
                 href="{{data.moreItems[0].href}}"
                 aria-label="${{{data.moreItems[0].label}}}"
                 role="menuitem">
                <span ng-bind-html="'${' + data.moreItemsTitle + '}'" aria-hidden="true"></span>
              </a>
              <a href
                 ng-if="data.moreItems.length > 1"
                 id="more-items-button"
                 data-toggle="dropdown"
                 data-target="more-items-dropdown"
                 data-placement="bottom"
                 aria-label="${{{data.moreItemsTitle}}}"
                 role="menuitem">
                <span ng-bind-html="'${' + data.moreItemsTitle + '}'" aria-hidden="true"></span>
                <i class="fa collapse-margin m-l-xs fa-caret-down"></i>
              </a>
              <ul id="more-items-dropdown" ng-if="data.moreItems.length > 1" class="dropdown-menu"
                  role="menu" aria-label="${{{data.moreItemsTitle}}}">
                <li role="presentation"
                    ng-repeat="item in data.moreItems"
                    class="ng-scope dropdown-menu-line header-menu-item">
                  <a ng-if="item.label !== item.shortLabel"
                     href="{{item.href}}"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     data-original-title="${ {{item.label}} }"
                     aria-label="{{item.label}}"
                     role="menuitem">
                    <span ng-bind-html="'${' + item.shortLabel + '}'" aria-hidden="true"></span>
                  </a>
                  <a ng-if="item.label === item.shortLabel"
                     href="{{item.href}}"
                     aria-label="{{item.label}}"
                     role="menuitem">
                    <span ng-bind-html="'${' + item.shortLabel + '}'" aria-hidden="true"></span>
                  </a>
                </li>
              </ul>
            </li>

            <div sp-navbar-toggle="" class="navbar-right" id="sp-nav-bar">
              <ul ng-if="::(!user.logged_in && page.id != portal.login_page_dv && !data.hasLogin)" class="nav navbar-nav">
                <li><a href ng-click="openLogin()">${Login}</a></li>
              </ul>
              <ul ng-if="::user.logged_in" class="nav navbar-nav">
                <!-- chat, avatar, and logout -->
                <li class="dropdown hidden-xs">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="navbar-avatar"><sn-avatar class="avatar-small-medium" primary="avatarProfile" /></span>
                    <span class="visible-lg-inline">{{::user.name}}</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a ng-href="?id={{::data.supportProfilePortal}}">${Profile}</a></li>
                    <li><a href="{{::portal.logoutUrl}}">${Logout}</a></li>
                  </ul>
                </li>
                <li class="visible-xs-block"><a ng-href="?id={{::data.supportProfilePortal}}"><span class="navbar-avatar"><sn-avatar class="avatar-small-medium" primary="avatarProfile" /></span>{{::user.name}}</a></li>
                <li class="visible-xs-block"><a href="{{::portal.logoutUrl}}">${Logout}</a></li>
              </ul>
            </div>
            <!-- Cart, tours, and Wishlist -->
              <li class="gt-menu-item">
                <sp-widget widget="data.top.menu" id="menu_item"></sp-widget>
              </li>  
              <li class="gt-menu-item">
                <sp-widget widget="::data.langSelector"></sp-widget>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
      
  <!-- Sub Navbar on Desktop -->
  <div class="navbar-collapse sub-navbar clearfix collapse collapsed hidden-xs"
       ng-class="{ 'in': expanded, 'collapsed': !expanded, 'sub-navbar--mobile-view': showMobileMenuOnDesktop }"
       ng-if="data.showSubHeader"
       aria-expanded="false">
    <div>
      <sp-widget widget="data.sub.menu"></sp-widget>
    </div>
  </div>

  <!-- Analytics -->
  <div ng-if="data.analyticsSupportEnabled">
    <widget id="cda-site-analytics" options="{'enable_logging': false}"></widget>
  </div>
</nav>