$accent-color-dark: RGB(var(--now-color--primary-2,23,100,82))
$accent-color-light: RGB(var(--now-color--primary-0,221,237,233))
$accent-color: RGB(var(--now-color--primary-1,30,133,109))
$brand-info: RGB(var(--now-color_alert--info-2,14,120,196))
$brand-primary: RGB(var(--now-color_brand--primary,var(--now-color--brand-1,41,62,64)))
$brand-warning: RGB(var(--now-color_alert--warning-2,210,195,0))
$btn-info-bg-color-hover: RGB(var(--now-color_alert--info-2,14,120,196))
$btn-info-bg-color: RGB(var(--now-color_alert--info-0,195,221,240))
$btn-info-text-hover: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$btn-info-text: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$btn-negative-bg-color-hover: RGB(var(--now-color_alert--critical-2,200,60,54))
$btn-negative-bg-color: RGB(var(--now-color_alert--critical-0,241,206,205))
$btn-negative-text-hover: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$btn-negative-text: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$btn-positive-bg-color-hover: RGB(var(--now-color_alert--positive-2,37,131,43))
$btn-positive-bg-color: RGB(var(--now-color_alert--positive-0,201,224,202))
$btn-positive-text-hover: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$btn-positive-text: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$btn-warning-bg-color-hover: RGB(var(--now-color_alert--warning-2,210,195,0))
$btn-warning-bg-color: RGB(var(--now-color_alert--warning-0,244,240,191))
$btn-warning-text-hover: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$btn-warning-text: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$color-accent-accessibility: RGB(var(--now-color--interactive-3,1,89,107))
$color-accent-light-accessibility: RGB(var(--now-color--interactive-2,1,119,142))
$color-accent-light: RGB(var(--now-color--interactive-1,109,177,190))
$color-accent-lighter-accessibility: RGB(var(--now-color--interactive-1,109,177,190))
$color-accent-lighter: RGB(var(--now-color--interactive-0,217,235,238))
$color-accent-lightest-accessibility: RGB(var(--now-color--interactive-0,217,235,238))
$color-accent-lightest: RGB(var(--now-color--interactive-0,217,235,238))
$color-accent: RGB(var(--now-color--interactive-2,1,119,142))
$color-aqua-light: RGB(var(--now-color_grouped--teal-1,157,202,195))
$color-aqua-lighter: RGB(var(--now-color_grouped--teal-0,210,231,227))
$color-aqua: RGB(var(--now-color_grouped--teal-2,104,174,163))
$color-background: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
$color-black: RGB(var(--now-color--neutral-21,0,0,0))
$color-blue-light: RGB(var(--now-datavis_color--blue-2,128,218,235))
$color-blue-lighter: RGB(var(--now-datavis_color--blue-0,206,241,247))
$color-blue: RGB(var(--now-datavis_color--blue-4,49,195,223))
$color-cyan-light: RGB(var(--now-datavis_color--teal-2,122,209,209))
$color-cyan-lighter: RGB(var(--now-datavis_color--teal-0,204,237,237))
$color-cyan: RGB(var(--now-datavis_color--teal-4,41,180,180))
$color-dark: RGB(var(--now-color--neutral-5,172,178,190))
$color-darker: RGB(var(--now-color--neutral-16,40,44,51))
$color-darkest: RGB(var(--now-color--neutral-18,24,26,31))
$color-gray: RGB(var(--now-color--neutral-3,218,221,226))
$color-green-dark: RGB(var(--now-datavis_color--green-5,0,153,25))
$color-green-light: RGB(var(--now-datavis_color--green-2,122,202,135))
$color-green-lighter: RGB(var(--now-datavis_color--green-0,204,235,209))
$color-green: RGB(var(--now-datavis_color--green-4,41,169,62))
$color-info-dark: RGB(var(--now-color_alert--info-2,14,120,196))
$color-info-light: RGB(var(--now-color_alert--info-0,195,221,240))
$color-info-text: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$color-info: RGB(var(--now-color_alert--info-1,104,171,218))
$color-light: RGB(var(--now-color--neutral-3,218,221,226))
$color-lighter: RGB(var(--now-color--neutral-2,240,241,245))
$color-lightest: RGB(var(--now-color--neutral-0,255,255,255))
$color-negative-dark: RGB(var(--now-color_alert--critical-3,160,48,43))
$color-negative-light: RGB(var(--now-color_alert--critical-0,241,206,205))
$color-negative-text: RGB(var(--now-color--neutral-0,255,255,255))
$color-negative: RGB(var(--now-color_alert--critical-2,200,60,54))
$color-orange-light: RGB(var(--now-datavis_color--orange-2,255,168,147))
$color-orange-lighter: RGB(var(--now-datavis_color--orange-0,255,221,214))
$color-orange: RGB(var(--now-datavis_color--orange-4,238,154,99))
$color-pink-light: RGB(var(--now-datavis_color--pink-2,237,135,204))
$color-pink-lighter: RGB(var(--now-datavis_color--pink-0,248,209,235))
$color-pink: RGB(var(--now-datavis_color--pink-4,226,61,172))
$color-positive-dark: RGB(var(--now-color_alert--positive-3,30,105,34))
$color-positive-light: RGB(var(--now-color_alert--positive-0,201,224,202))
$color-positive-text: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$color-positive: RGB(var(--now-color_alert--positive-2,37,131,43))
$color-primary-text: RGB(var(--now-color_text--primary-actionable,var(--now-color--neutral-0,255,255,255)))
$color-primary: RGB(var(--now-color--primary-1,30,133,109))
$color-purple-light: RGB(var(--now-datavis_color--purple-2,174,144,236))
$color-purple-lighter: RGB(var(--now-datavis_color--purple-0,224,212,248))
$color-purple: RGB(var(--now-datavis_color--purple-4,124,76,225))
$color-red-light: RGB(var(--now-datavis_color--red-2,238,149,179))
$color-red-lighter: RGB(var(--now-datavis_color--red-0,248,214,226))
$color-red: RGB(var(--now-datavis_color--red-4,227,85,132))
$color-shamrock-light: RGB(var(--now-datavis_color--yellowGreen-2,209,225,133))
$color-shamrock-lighter: RGB(var(--now-datavis_color--yellowGreen-0,237,244,208))
$color-shamrock: RGB(var(--now-datavis_color--yellowGreen-4,181,207,58))
$color-text: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$color-warning-dark: RGB(var(--now-color_alert--warning-3,198,185,22))
$color-warning-light: RGB(var(--now-color_alert--warning-0,244,240,191))
$color-warning-text: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$color-warning: RGB(var(--now-color_alert--warning-1,227,218,96))
$color-white: RGB(var(--now-color--neutral-0,255,255,255))
$color-yellow-light: RGB(var(--now-datavis_color--yellow-2,255,212,122))
$color-yellow-lighter: RGB(var(--now-datavis_color--yellow-0,255,238,204))
$color-yellow: RGB(var(--now-datavis_color--yellow-4,255,185,41))
$connect-latest-message: RGB(var(--now-color--secondary-2,1,89,107))
$highlight-color: RGB(var(--now-color--primary-1,30,133,109))
$jumbotron-bg-color: RGB(var(--now-color--primary-3,15,67,55))
$nav-highlight-bar-active: RGB(var(--now-color--interactive-2,1,119,142))
$nav-highlight-bar-inactive: RGB(var(--now-color--interactive-4,1,60,71))
$nav-highlight-main: RGB(var(--now-color--neutral-10,87,95,110))
$nav-hr-color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
$nav-timeago-header-color: RGB(var(--now-color--neutral-16,40,44,51))
$navbar-default-bg: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
$navbar-default-color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
$navpage-button-color-hover: RGB(var(--now-color--interactive-1,109,177,190))
$navpage-button-color: RGB(var(--now-color--neutral-0,255,255,255))
$navpage-header-bg: RGB(var(--now-color--neutral-16,40,44,51))
$navpage-header-button-color: RGB(var(--now-color--neutral-0,255,255,255))
$navpage-header-color: RGB(var(--now-color--neutral-0,255,255,255))
$navpage-header-divider-color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
$navpage-header-logo-height: 40px;
$navpage-header-logo-width: 180px;
$navpage-header-search-bg-color: RGB(var(--now-color_grouped--pink-2,203,121,143))
$navpage-nav-app-text-hover: RGB(var(--now-color--neutral-0,255,255,255))
$navpage-nav-app-text: RGB(var(--now-color--neutral-0,255,255,255))
$navpage-nav-bg-sub: RGB(var(--now-color--neutral-16,40,44,51))
$navpage-nav-bg: RGB(var(--now-color--neutral-16,40,44,51))
$navpage-nav-border: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
$navpage-nav-color-sub: RGB(var(--now-color--neutral-0,255,255,255))
$navpage-nav-mod-text-hover: RGB(var(--now-color--neutral-0,255,255,255))
$navpage-nav-selected-bg: RGB(var(--now-color--interactive-3,1,89,107))
$navpage-nav-selected-color: RGB(var(--now-color--neutral-0,255,255,255))
$navpage-nav-unselected-color: RGB(var(--now-color--neutral-3,218,221,226))
$panel-bg: RGB(var(--now-color--neutral-0,255,255,255))
$search-text-color: RGB(var(--now-color--neutral-0,255,255,255))
$state-danger-bg: RGB(var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255)))
$state-danger-border: RGB(var(--now-color_alert--critical-2,200,60,54))
$state-danger-text: RGB(var(--now-color_alert--critical-5,80,24,22))
$state-info-bg: RGB(var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255)))
$state-info-border: RGB(var(--now-color_alert--info-2,14,120,196))
$state-info-text: RGB(var(--now-color_alert--info-5,6,48,78))
$state-success-bg: RGB(var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255)))
$state-success-border: RGB(var(--now-color_alert--positive-2,37,131,43))
$state-success-text: RGB(var(--now-color_alert--positive-5,15,52,17))
$state-warning-bg: RGB(var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255)))
$state-warning-border: RGB(var(--now-color_alert--warning-2,210,195,0))
$state-warning-text: RGB(var(--now-color_alert--warning-5,99,92,11))
$subnav-background-color: RGB(var(--now-color--neutral-16,40,44,51))
$text-color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
assessment.caption.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
assessment.caption.font.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
assessment.question.header.background.color: RGB(var(--now-color_background--tertiary, var(--now-color--neutral-2,228,230,231)))
assistant.box.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
assistant.box.border.color: RGB(var(--now-color_border--secondary,var(--now-color--neutral-5,172,180,181)))
assistant.box.border.width: 1px
banner.background.attachment: scroll
banner.background.color: RGB(var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255)))
banner.background.image: url("../images/s.gifx")
banner.background.position: center bottom
banner.background.repeat: repeat-x
banner.description.color: RGB(var(--now-color_text--secondary,var(--now-color--neutral-15,44,53,55)))
banner.line.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
banner.title.color: RGB(var(--now-color--primary-2,23,100,82))
base.background.color: RGB(var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255)))
base.border.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
base.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
base.font-family: var(--now-font-family,arial)
base.font-size: 10pt
base.text.color: RGB(var(--now-color--neutral-0,255,255,255))
body.background.color: RGB(var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255)))
button.action.background.color: RGB(var(--now-color--primary-2,23,100,82))
button.action.border.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
button.action.border.width: 1px
button.action.text.color: RGB(var(--now-color--neutral-0,255,255,255))
button.header.background.color: RGB(var(--now-color--primary-2,23,100,82))
button.header.border.color: RGB(var(--now-color--neutral-0,255,255,255))
button.header.border.width: 1px
button.header.text.color: RGB(var(--now-color--neutral-0,255,255,255))
button.login.background.color: RGB(var(--now-color--primary-2,23,100,82))
button.login.border.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
button.login.border.width: 1px
button.login.text.color: RGB(var(--now-color--neutral-0,255,255,255))
contextmenu.background.color: RGB(var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255)))
contextmenu.border.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
contextmenu.border.width: 1px
contextmenu.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
drag.section.border: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
drag.section.border.dark: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
drag.section.dragging.border: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
drag.section.header.active.background.color: RGB(var(--now-color_selection--secondary-2,229,238,240))
drag.section.header.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
drag.section.hilight.border: RGB(var(--now-color_selection--secondary-3,218,226,228))
drag.section.hilight.neighbors.border: RGB(var(--now-color_selection--secondary-2,229,238,240))
drag.section.selected.border: RGB(var(--now-color_selection--primary-3,23,100,82))
drag.section.top.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
filter.table.background.color: RGB(var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255)))
filter.table.border.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
filter.table.border.width: 1px
input.disabled.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
input.disabled.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
input.ref_dynamic.border.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
input.ref_invalid.border.color: RGB(var(--now-color_alert--critical-2,200,60,54))
label.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
label.changed.background.color: RGB(var(--now-color_alert--positive-2,37,131,43))
label.debug.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
label.debug.failure.background.color: RGB(var(--now-color_alert--critical-2,200,60,54))
label.debug.failure.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
label.debug.success.background.color: RGB(var(--now-color_alert--positive-2,37,131,43))
label.debug.success.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
label.debug.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
label.error.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
label.error.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
label.foreign.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
label.foreign.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
label.mandatory_populated.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
label.mandatory_populated.text.color: RGB(var(--now-color--neutral-0,255,255,255))
label.mandatory.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
label.mandatory.text.color: RGB(var(--now-color--neutral-0,255,255,255))
label.read_only.background.color: RGB(var(--now-datavis_color--orange-5,235,137,71))
label.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
link.breadcrumb.color: RGB(var(--now-color--link-2,1,119,142))
link.button.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
link.column.header.color: RGB(var(--now-color--neutral-0,255,255,255))
link.navigation.link.color: RGB(var(--now-color--link-2,1,119,142))
link.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
link.web.color: RGB(var(--now-color--link-2,1,119,142))
list.base.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
list.row.even.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
list.row.even.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
list.row.high.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
list.row.high.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
list.row.highlight.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
list.row.list_add.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
list.row.low.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
list.row.low.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
list.row.medium.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
list.row.medium.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
list.row.odd.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
list.row.odd.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
list.row.survey.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
list.row.survey.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
list.row.vertical.align: top
m.border-box: -moz-box-sizing: border-box; box-sizing: border-box;
m.context_menu.background: background: none repeat scroll 0 0 #FFFFFF;
m.context_menu.border: border: 1px solid darkgrey; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 4px;
m.context_menu.element.font: font-weight: bold; color: #000;
m.context_menu.element.padding: padding: 5px;
m.label.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
m.message.arrow.error: RGB(var(--now-color_alert--critical-0,241,206,205))
m.message.arrow.info: RGB(var(--now-color_alert--info-0,195,221,240))
m.message.arrow.warning: RGB(var(--now-color_alert--warning-0,244,240,191))
m.message.background.error: RGB(var(--now-color_alert--critical-0,241,206,205))
m.message.background.info: RGB(var(--now-color_alert--info-0,195,221,240))
m.message.background.warning: RGB(var(--now-color_alert--warning-0,244,240,191))
m.message.error: background-color: RGB(var(--now-color_alert--critical-0,241,206,205)); border-color: #EED3D7; color: #B94A48;
m.message.info: background-color: RGB(var(--now-color_alert--info-0,195,221,240)); border-color: #BCE8F1; color: #3A87AD;
m.message.warning: background-color: RGB(var(--now-color_alert--warning-0,244,240,191)); border-color: #FBEED5; color: #C09853;
m.one-line-clipped: white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
m.separator.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
menu.font-size: smaller
mobile.font-family: arial
mobile.font-size: 10pt
mobile.touch.font-family: arial
mobile.touch.font-size: 13pt
nav_header.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
nav_header.font-family: verdana, arial
nav_header.font-size: 24px
nav_header.margin-left: 16px
nav_header.text.color: RGB(var(--now-color--neutral-0,255,255,255))
nav.menu.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
nav.menu.border.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
nav.menu.border.width: 1px
nav.menu.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
nav.menu.width: 18%
nav.menu.width.right: 82%
olap.column.head.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
olap.column.head.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
outputmsg.error.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
outputmsg.error.text.font-size: normal
outputmsg.info.text.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
outputmsg.info.text.font-size: normal
questionset.reference.width: 157px
questionset.text.width: 250px
report.table.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
script.editor.width: 80%
slush.header.border.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
slush.header.border.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
slush.header.border.width: 1px
spellcheck.message.color: RGB(var(--now-color_text--primary,var(--now-color--neutral-18,22,27,28)))
table.background.color: RGB(var(--now-color_background--primary,var(--now-color--neutral-0,255,255,255)))
table.cell.padding: 2px
table.column.head.background.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
table.column.head.text.color: RGB(var(--now-color--neutral-0,255,255,255))
table.white-space: normal
tablet.gradient.end: RGB(var(--now-color--neutral-19,17,18,21))
tablet.gradient.start: RGB(var(--now-color--neutral-9,101,110,129))
tablet.headerfooter.text.color: RGB(var(--now-color--neutral-0,255,255,255))
text.caption.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
textsearch.catalog.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
textsearch.kb.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
treeview.cell.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
treeview.outerbody.background.color: RGB(var(--now-color_background--secondary,var(--now-color--neutral-1,246,247,247)))
treeview.outerbody.border.color: RGB(var(--now-color_border--primary, var(--now-color--neutral-7,135,147,148)))
treeview.outerbody.border.width: 1px
user_image.max.height: 250px
user_image.max.width: 250px